app/static/temp/
app/static/images/
*.exe
.idea/

app.env
gin-bin


# Thêm vào .gitignore
*.log
*.tmp
/tmp
/logs
/dist
/build
*.test
/vendor
.env*
*.out
/coverage
.DS_Store

.vscode

# Docker
.docker/
docker-compose.override.yml

# Environment
.env
.env.*
!.env.example

# Build
/dist
/tmp
*.log



.txt

.github/
    